# Directory
.vscode/
__pycache__/
dlwpt-code-master/
AI_Data/
build/
p2_ct_project/p2_ch10/__pycache__/
p2_ct_project/p2_ch11/__pycache__/
data-unversioned/
runs/


# File
dlwpt-code-master.zip
p3_deploy/torch_cpu.dll